/*
	(defaults)
	text color: #545454
	default red = color: #AF1819;
	font: 11px tahoma,arial,sans-serif;
	position: relative; //fixes IE6 float invisible bug
	
*/
/*ctlModelDetails3 BEGIN*/
.inline
{
display: inline !important;
}
div.itemListObj2
{
	background-color: transparent;
	clear:both;
	display: block;
	overflow: hidden;
	/*padding-bottom:2px;*/
}
div.itemListObj2 div.dcontS div.dcont,
div.itemListObj2 div.dcontU div.dcont,
div.itemListObj2 div.dcontN div.dcont
{
	overflow: hidden;
	margin:8px 0;
	clear:both;
	height:100%;
}
div.itemListObj2 div.dcontS div.dhead
{
	display: block;
	height:20px;
	background-color:#EEF3F9;
	border-top:4px solid #b2d4fa;
}
div.itemListObj2 div.dcontU div.dhead
{
	display: block;
	height:20px;
	background-color:#F1F1F1;
	border-top:4px solid #d3d3d3;
}
div.itemListObj2 div.dcontN div.dhead
{
	display: block;
	height:1px;
	background-color:#F1F1F1;
	border-top:4px solid #d3d3d3;
}
div.itemListObj2 div.hsep
{
	font-size:1px;
	height:1px;
	margin:6px 0px 6px 0px;
}
div.itemListObj2 div.dcontS div.hsep
{
	border-top:1px solid #b2d4fa;
}
div.itemListObj2 div.dcontU div.hsep
{
	border-top:1px solid #d3d3d3;
}
div.itemListObj2 div.dcontN div.hsep
{
	border-top:1px solid #d3d3d3;
}
div.itemListObj2 div.dcontS div.dcont
{
	background:transparent url('../images/color_b2d4fa.gif') 150px top repeat-y;
}
div.itemListObj2 div.dcontU div.dcont
{
	background:transparent url('../images/color_d3d3d3.gif') 150px top repeat-y;
}
div.itemListObj2 div.dcontN div.dcont
{
	background:transparent url('../images/color_d3d3d3.gif') 150px top repeat-y;
}

div.itemListObj2 div.PremiumSupp
{
	text-align:left;
	font-size:9px;
}
div.itemListObj2 .red
{
	font-weight:bold
}
div.itemListObj2 a,
div.itemListObj2 a:link,
div.itemListObj2 a:visited,
div.itemListObj2 a:hover
{
	text-decoration:none;
	color:#628dbd;
}
div.itemListObj2 .dcol2 a.linkType2,
div.itemListObj2 .dcol2 a.linkType2:link,
div.itemListObj2 .dcol2 a.linkType2:visited,
div.itemListObj2 .dcol2 a.linkType2:hover
{
	font-weight:normal;
	text-decoration:none;
	color:#628dbd;
}
div.itemListObj2 div.pair
{
	padding-bottom:5px;
	clear:both;
}
div.itemListObj2 div.dcol1
{
	padding-top:0px;
	padding-left:5px;
	margin-right:5px;
	display: block;
	float:left;
	width:145px;
	overflow: hidden;
}

div.itemListObj2 div.dcol1 div.dthumb img.thumbnailUser,
div.itemListObj2 div.dcol1 div.dthumb img.thumbnailModel,
div.itemListObj2 div.dcol1 div.dthumb img.thumbnailDefault
{
	border:0 none;
	display:inline;
	height:auto;
	width:auto;
	margin:30px 0 0 0;
	padding:0;
	vertical-align:middle;
	height:65px;
	width:65px;
}
div.itemListObj2 div.dcol1 div.dthumb img.thumbnailModel
{
	margin:0;
	height:124px;
	width:124px;
}
div.itemListObj2 div.dcol1 div.dthumb img.thumbnailUser
{
	margin:30px 0 0 0;
	height:65px;
	width:65px;
}
div.itemListObj2 div.dcol1 div.dthumb
{
	width:140px;
	min-height:127px;
	background:transparent url(../images/temp_img_thumg.jpg) no-repeat scroll center center;
	text-align:center;
}

div.itemListObj2 div.dcol1 span,
div.itemListObj2 div.dcol1 a
{
	font-weight:bold;
}
div.itemListObj2 div.dcol2
{
	padding-left:5px;
	display: block;
	float:left;
	width:357px;
	overflow: hidden;
}
div.itemListObj2 div.dcol2 div.capt
{
	font-weight:normal;
	display: block;
	float:left;
	width:100px;
	overflow: hidden;
	text-align:left;
}
div.itemListObj2 div.dcol2 div.text
{
	margin-left:100px;
	padding-left:5px;
}
div.itemListObj2 div.dcol3
{
	padding-left:5px;
	display: block;
	float:right;
	width:190px;
	overflow: hidden;
}
div.itemListObj2 div.dcol3 img.raiting
{
/*width:60px;*/
}
div.itemListObj2 div.dcol3 div.capt
{
	font-weight:normal;
	display: block;
	float:left;
	width:90px;
	overflow: hidden;
	text-align:right;
}
div.itemListObj2 div.dcol3 div.text
{
	margin-left:90px;
	padding-left:5px;
}

/*ctlModelDetails3 END*/

/* Tags */
body
{
    z-index: -1;
}
body, span, p
{
	font: 11px tahoma,arial,sans-serif;
}
select
{
	font: 11px tahoma,arial,sans-serif;
}
body
{
	margin: 0;
	text-align: center;
	color: #545454;
}
h1, h1 span
{
    text-align: left;
	font-size: 1.35em;
	color: #2e3480;
	margin: 0;
	vertical-align: middle;
}
h2
{
    text-align: left;
	font-size: 1.1em;
	line-height: 2;
	color: #555;
	margin: 0;
}
h3, h3 span
{
    text-align: left;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 2;
	color: #555;
	margin: 0;
}
h4, h4 span
{
    text-align: left;
	font-size: 1.35em;
	color: #000000;
	margin: 0;
	vertical-align: middle;
}
.SSSAccountMenu
{
    float:left; 
    width:200px; 
    padding-top:20px;
}
.SSSAccountContain
{
	float:left; 
	width:770px;
    padding-top:0px;
}
img
{
    vertical-align: middle;
    border: 0;
}
p, td
{
	line-height: 1.35;
}
tbody
{
    margin: 0;
    padding: 0;
}

/* Named Obj */
.searchOptions
{
	vertical-align: middle;
	width:180px;
}

a.not_popular:link, a.not_popular:visited { font-size: 1em; }
a.not_very_popular:link, a.not_very_popular:visited { font-size: 1.3em; }
a.somewhat_popular:link, a.somewhat_popular:visited { font-size: 1.6em; }
a.popular:link, a.popular:visited { font-size: 1.9em; }
a.very_popular:link, a.very_popular:visited { font-size: 2.2em; }
a.ultra_popular:link, a.ultra_popular:visited { font-size: 2.5em; }

a.listItemTitle:link, a.listItemTitle:visited
{
	display: block;
	padding-left: 10px;
	font-size: 1.1em;
	font-weight: bold;
	color: #2E3480;
	line-height: 2;
	text-decoration: underline;
	background-color: #EAF1FB;
}
a.tabActive:link, a.tabActive:visited
{
	background-color: #d0e4fd;
	border: 1px solid #B2D5F9;
	padding: 7px 10px;
	line-height: 1.75;
	vertical-align: middle;
	font-weight: bold;
	color: #2D337F;
	text-decoration: none;
}
a.tab:link, a.tab:visited
{
	background-color: #F1F1F1;
	border: 1px solid #E4E2E1;
	padding: 7px 10px;
	line-height: 1.75;
	vertical-align: middle;
	font-weight: bold;
	color: #555;
	text-decoration: none;
}
a.tag:link, a.tag:visited
{
	background-color: #d0e4fd;
	padding: 2px 2px;
	color: #2D337F;
	text-decoration: none;
	margin-right: 2px;
}
/*td a:link, td a:visited, p a:link, p a:visited
{
    color: #2d337f;
	text-decoration: underline;
}*/
div.browseby .title
{
	text-align: left;
	font-size: 1.1em;
	font-weight: bold;
	color: 	#2D337F;
	margin: 0;
	padding-bottom: 4px;
}
div#commentOverflowDlg
{
	text-align:left;	
}
div#contactUserDlg
{
	height: 400px;
}
div#contactUserDlg .bd
{
	overflow:hidden;
	padding:10px;
	height:355px; 
	text-align:left; 
	background-color:#F0F5FB; 
	border:solid 3px #D4E6FC	
}
div#container
{
	width: 1000px;
	text-align:left;
	margin:0 auto;
}
div#content
{
	padding-top: 10px;
	clear: both;
	/* z-index: -1;
	 position: relative;*/
}
div#tabFeaturedCategories .left, div#recentlyAdded .left
{
	margin-left: 8px;
}
div#footer
{
	background-color: #eaf1fb;
	/*padding: 10px 20px 15px 15px;*/
	margin-top: 25px;
	line-height: 1.5;
	clear: both;
}
div#footerBody
{
	text-align: center;
	padding: 10px 20px;
	color: #2E3480;
}
div#footerBody th, div#footerBody td
{
	text-align: left;
	vertical-align: top;
	line-height: 15px;
	padding: 2px;
	width: 16%;
}
div#footerBody a:link, div#footerBody a:visited
{
	text-decoration: none;
}
div#footerBody a:hover
{
	text-decoration: underline;
}
div#footerLangauges
{
	color: #fff;
	background-color: #81addc;
	text-align: center;
	padding: 4px;
}
div#footerLangauges a:link, div#footerLangauges a:visited
{
	color: #fff;
	text-decoration: none;
}
div#footerLangauges a:hover
{
	text-decoration: underline;
}
div#pageHeader
{
	position:relative;
}
div#headerLogos
{
	margin-left: 15px;
	width: 250px;
}
div.errMsg
{
    background-color: #FDF7D7;
   	border: 1px solid #E2B456;
   	padding: 10px;
   	color: #845100;	
}
div.msgNornal
{
    margin-top: 10px;
    width: 800px;
    margin-left: 100px;
    background-color: #F0FDE3;
   	border: 1px solid #56890A;
   	padding: 10px;
   	color: #56890A;	
}
div.msgNornal a:link, div.msgNornal a:visited
{
	color: #56890A;
}
div.msgWarning
{
    margin-top: 10px;
    width: 800px;
    margin-left: 100px;
    background-color: #FDF7D7;
   	border: 1px solid #C89D00;
   	padding: 10px;
   	color: #845100;	
}
div.msgWarning a:link, div.msgWarning a:visited
{
	color: #C18724;
}
div.msgAlert
{
    margin-top: 10px;
    width: 800px;
    margin-left: 100px;
    background-color: #F6EEEE;
   	border: 1px solid #7F0000;
   	padding: 10px;
   	color: #7F0000;	
}
div.msgAlert a:link, div.msgAlert a:visited
{
	color: #7F0000;
}
div.include table td
{
	vertical-align:top;
}

div.include h2
{
	color: #2E3480;
}
div.include a:link, div.include a:visited, .msg a:link, .msg a:visited
{
	color: #2D337F;
}
div.itemListObj
{
	display: block;
	padding-bottom: 5px;
	overflow: hidden;
}
div#popularContent .sectionL
{
	border: 1px solid #81addc;
    float: left;
    padding: 8px;
    position: relative;
}
div#joinNow
{
	width: 100%;
	margin-top: 8px;
	height: 20px;
}
div#joinNow a:link, div#joinNow a:visited
{
	background-color: #e3e3e3;
	display: block;
	padding: 4px 6px;
	text-decoration:none;
	color: #555;
	font-weight: bold;
}
div#joinNow a:hover
{
	text-decoration:underline;
}
div#joinNow img
{
	border: 0;
}
div#leftCol
{
	width: 260px;
	float: left;
	text-align: justify;
}
div#leftMain
{
    float: left;
    display:inline;
    width: 718px; /* 1000 - padding l\r - margin l\r - 2px for borders*/
    margin-right: 15px;
    overflow: hidden;
}
div#main
{
    float: right;
    display:inline;
    width: 720px; /* 1000 - padding l\r - margin l\r */
    padding-left: 5px;
    margin-left: 12px;
}
div#main p
{
    margin-top: 2px;
    margin-bottom: 2px;
}
div#mainMenu
{
	background: transparent url('../images/menu-background.jpg') repeat-x top left;
	color: #2D3380;
	border: 1px solid #81ADDC;
	border-bottom: 0px;
	height: 30px;
}
div#mainMenu div.innerBorder
{
	border: 1px solid #fff;
	border-bottom: 0px;
	height: 28px;
	padding-left: 25px;
}
div#mainMenu a, div#mainMenu a:visited
{
	float: left;
	font-size: 1.2em;
	text-decoration: none;
	color: #2E3480;
	height: 28px;
	line-height: 2em;
}
div#mainMenu a.selected, div#mainMenu a:hover
{
	background: transparent url('../images/icon_menuItemSelected.gif') no-repeat center center;
}
/* menu spacers */
div#mainMenu div.left
{
	margin: 0px 10px;
	margin-top: 2px;
	color: #81ADDC;
	line-height: 2em;
}
div#mainMenuLinks_Right div.right
{
    color: #81ADDC;
    line-height: 2em;
    margin:2px 10px;
}
div.mainMenuLower
{
	background: transparent url('../images/submenu-background.jpg') repeat-x top left; 
	color: #545454;
	border: 1px solid #DAE5EF;
	border-top: 0px;
}
div.mainMenuLower div.innerBorder
{
	border: 1px solid #fff;
	border-top: 0px;
}
div#mainNavigation
{
	clear: both;
	width: 100%;
	padding-top: 5px;
	position: relative;
}
div#mainMenuLinks_Right
{
    margin-right: 10px;    
}
div#mainMenuLinks_Right a:link, div#mainMenuLinks_Right a:visited
{
    float: right;
	color:#2E3480;
	font-size:1.2em;
	height:28px;
	line-height:2em;
	text-decoration:none;
}
div.sectionHeaderLinks
{
    background-color: #F0F5FB;
    padding: 6px;
    text-align: right;
    vertical-align: middle;
}
div#SSSLink img
{
	float:right;
	margin-left:5px;
	margin-top:5px;
	vertical-align:middle;
}
div#SSSNewIndicator
{
	margin-top: 5px;
	background: #fff385 url('../images/icon_newBackground.gif') no-repeat center right;
	border-top: 1px solid #e8c10e;
	border-bottom: 1px solid #e8c10e;
	border-right: 1px solid #e8c10e;
	color: #7c511a;
	font-size: smaller;
	padding: 2px 4px;
	float:right;
}
div#requestAlert
{
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:0px;
	background:#d45757 none repeat scroll 0%;
	color:#fff;
	text-align:center;
	padding: 5px;
	width: 750px;
	margin-right: 120px;
	float:right;
}
div#requestAlert a:link, div#requestAlert a:visited
{
	text-decoration: none;
	color:#d45757;
	font-weight: 600;
}
span#requestAlertMessage
{
	color: #fff;
	font: 600 11px Tahoma;
}
div#pagingControls,
div#pagingControlsClone
{
	text-align: right;
	padding: 0px;
}
div#pagingControls .linkType3,
div#pagingControlsClone .linkType3
{
	font-weight: bold;
}
.paramDD
{
	width: 200px;
}
div.paramLabel
{
	display:block
}
.paramValueCtl
{
	white-space: nowrap;
	width: 235px;
}
div#rightCol
{
	padding-right: 10px;
	width: 250px;
	float: right;
	text-align: justify;
	vertical-align: top;
}
div.ruleValue
{
	display: block;
	margin-bottom: 6px;
}
.ruleValue select, .ruleValue input, .optionsGroup select, .optionsGroug input
{
	font: 11px Tahoma;
}
div#searchcontainer
{
	margin-top: 15px;
	color: #2e3585;
	float: right;
	width: 575px;
}
div#searchTypes
{
	margin-left: 27px;
	padding-bottom: 5px;
}
div#searchResults, div#supplierMatches
{
	display: none;
	overflow: auto;
	position: absolute; 
	z-index: 101;
	background-color: #fff;
	border: 1px solid #79714a;
	height: 125px;
	width: 225px;
	padding: 5px;
	margin-top: 72px;
	right: 195px;
}
div#spotlight, div#topDownload, .boxType1
{
	position: relative;
	padding: 8px;
	background-color: #f1f1f1;
	border: 1px solid #e3e3e3;
	text-align: left;
}
div#spotlight h3, div#topDownload h3, .boxType1 h3
{
	text-align: left;
	font-size: 1.1em;
	color: #555;
	margin: 0;
}
div#spotlight img, .sectionL .contentGraphic,
.sectionR .contentGraphic, .contentGraphic_sm
{
    float:left;
    margin: 0px 10px 8px 0px;
    position: relative;
}
div#spotlight span, div#topDownload span, div.topContributor span
{
    color: #656565;
}
div#spotlightContributions
{
    line-height: 1.5;
    clear: left;
}
div.subMenu
{
	padding-left: 25px;
	padding-top: 4px;
	vertical-align: middle;
	height: 22px;
}
div.subMenuEmpty
{
	height: 8px;
	font-size: .1em;
}
div.subMenuRight
{
	padding-right: 10px;
	padding-top: 4px;
	vertical-align: middle;
	height: 22px;
	position: relative;
	float: right;
}
div.subMenu a, div.subMenu a:visited,
div.subMenuRight a, div.subMenuRight a:visited
{
	float: left;
	font-size: 1em;
	line-height: 1.5em;
	text-decoration: none;
	color: #545454;
}
div.subMenu a:hover, 
div.subMenuRight a:hover
{
	text-decoration: underline;
	color: #628DC0;
}
div.subMenu a.selected, div.subMenu a.selected:visited,
div.subMenuRight a.selected, div.subMenuRight a.selected:visited
{
	color: #628DC0;
}
/* submenu spacers */
div.subMenu div.left,
div.subMenuRight div.left

{
	margin: 0px 10px;
	margin-top: 2px;
	color: #ccc;
}
div.tooltip
{
	border: 1px solid #79714a; 
	padding: 2px;
	Z-INDEX: 101;  
	OVERFLOW: auto; 
	POSITION: absolute; 
	HEIGHT: 125px; 
	BACKGROUND-COLOR: #FFFFE1; 
	COLOR: #000000;
	text-align: left;
	width: 200px;
	overflow: auto;
}
div.tabContent
{
    position: relative;
    /*border-top: 2px solid #81addc;*/
    border-top: 2px solid #628dc0;
    margin: 0;
    /*border-bottom: 2px solid #81addc;*/
}
div.tabContentEmpty
{
    position: relative;
    /*border-top: 2px solid #81addc;*/
    border-top: 2px solid #628dc0;
    height: 80px;
    margin: 0;
    /*border-bottom: 2px solid #81addc;*/
}
div.tabFavContent
{
    position: relative;
    /*border-top: 2px solid #81addc;*/
    border-top: 2px solid #628dc0;
    margin: 0;
    /*border-bottom: 2px solid #81addc;*/
}
div.tabGalContent
{
    position: relative;
    /*border-top: 2px solid #81addc;*/
    border-top: 2px solid #628dc0;
    /*height:250px;*/
    margin: 0;
    /*border-bottom: 2px solid #81addc;*/
}
div.tabDownloadsViewsContent
{
    position: relative;
    /*border-top: 2px solid #81addc;*/
    border-top: 2px solid #628dc0;
    margin: 0;
    /*border-bottom: 2px solid #81addc;*/
}
div.tabHeaderLinks
{
	padding: 6px;
	background-color: #f0f5fb;
	margin: 0p;
	text-align: center;
	vertical-align: middle;
}
/*#628dc0*/
div#topContributors, div.browseby, div.boxType3
{
	border: 1px solid #d0e4fc;
    background-color: #f0f5fb;
    position: relative;
    padding: 8px ;
    margin-top:10px;
}
div.boxType2
{
	border: 1px solid #d0e4fc;
    background-color: #f0f0f0;
    position: relative;
    padding: 8px;
    margin: 10px 0px 0 0;
}
/* yellow background */
div.boxType4
{
	background: #fdf7d6 url( '/images/background_supplierServices.gif' ) no-repeat center center;
    border: 1px solid #e4b356;
    padding: 10px;
    margin: 10px 0px 0 0;   
}
div.boxType5
{
	background-color: #EFF6FE;
    border: 4px solid #81ADDC;
    padding: 10px;
    margin: 10px 0px 0 0;   
}
div#topContributors h3
{
	text-align: left;
	font-size: 1.1em;
	color: #2e3480;
	margin: 0;
}
div.topContributor
{
    clear: left;
    margin-top: 10px;
}
div.topContributor img
{
    clear: left;
    float:left;
    margin-right: 10px;
    position: relative;
}
div#topmenu
{
	padding: 5px 15px;
	line-height:1.5;
	background-color: #f1f1f1;
	border-bottom: 1px solid #e3e3e3;
	width: 970px;
	position: relative;
}
div#whatsNew p
{
	padding: 0px;
	margin: 0px;	
}
fieldset#avgRating {
    border: 1px solid #638ec6;
    padding: 6px 8px;
    text-align:center;
	display: inline;
    white-space: nowrap;
}
legend
{
	color: #2E3480;
}
hr.dashedBlue
{
	border: 0px;
	border-top: 1px dashed #D0E4FC;
	height: 1px;
	padding: 0px;
	margin-bottom: 5px;
}
iframe#InappropriateCmtsFrame
{
	width: 500px;
	height: 425px;
}
img.contentGraphic_sm
{
	width: 26px;
}
img.contentThumbnail, img.thumbnailModel
{
	width: 80px;
	height: 80px;
	display: block;
	margin: 0px 10px;
	padding: 5px;
	border: 0px;
	background: transparent url('../images/temp_img_thumg.jpg') no-repeat center center;
	filter:expression(applyAlphaFilter(this))
}
img.imgThumb
{
	width: 50px;
	height: 50px;
	line-height: 0;
	display: block;
	margin: 4px 4px 0 0;
	background: transparent url('../images/temp_img_thumg.jpg') no-repeat center center;
	filter:expression(applyAlphaFilter(this))
}


img.thumbnailUser
{
	height: 80px;
	display: block;
	margin: 0px 10px;
	padding: 5px;
	border: 0px;
	background: transparent url('../images/temp_img_thumg.jpg') no-repeat center center;
}
img.userThumbnail
{
	width: 70px;
	height: 80px;
	border: 1px solid #9e9e9e;
}
img#shareIcon
{
	vertical-align: middle;
	border: 0px;
}
/*input, select
{
	font: 11px Tahoma;
}*/
input#txtSearchInputNav
{
	border: 1px solid #a7acb2;
	width: 235px;
	height: 18px;
}
div#searchcontainer select
{
	height: 20px;
	font: 11px tahoma,arial,sans-serif;
}
ul.ul1
{
	list-style-image: url('../images/icon_sm_blue_arrow.gif');
	line-height: 1.5em;
}
pre, .forceWrap
{
	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
	white-space: -pre-wrap; /* Opera 4 - 6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
	word-wrap: break-word; /* IE 5.5+ */
}
table.modelThumb
{
	max-width: 715px;	
}
table#tblFeaturedMacros
{
	width: 100%;
}
table#tblFeaturedMacros a:link, table#tblFeaturedMacros a:visited
{
	display: block;
}
table#tblFeaturedMacros td
{
	line-height: 1.75;
}
table#tblFeaturedSuppliers td
{
	line-height: 1.5;
}
table#tblPartInfo td.col1
{
	border-bottom: 1px dashed #ccc;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
}
table#tblPartInfo td.col2
{
	border-bottom: 1px dashed #ccc;
	text-align: left;
	vertical-align: top;
}
table#tblModelsListProps td.col1
{
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
}
table#tblModelsListProps td.col2
{
	text-align: left;
	vertical-align: top;
}
td.item
{
	text-align: center;
}
td.tblPartInfo_col1
{
	text-align: left;
}
ul.blTabs a:link, ul.blTabs a:visited
{
	padding: 4px 10px;
	line-height: 1.5;
}
/* Classes */
.boxType2
{
	position: relative;
	padding: 8px;
	background-color: #ffffff;
	border: 1px solid #e3e3e3;
	text-align: left;
}
.clearBoth
{
    font-size: 0em;
    clear: both;
}
.clearLeft
{
    font-size: 0em;
    clear: left;
}
.clearRight
{
    font-size: 0em;
    clear: right;
}
.contentTitle, a.contentTitle:link, a.contentTitle:visited
{
	font-size: 1.1em;
	font-weight: bold;
	color: #AF1819;
	text-decoration: none;
}
.dashedBottomBorder
{
	border-bottom: 1px dashed #ccc;
}
.displayNone
{
	display: none;
}
.float_bottomRight
{
    background-color: #d0e4fd;
    padding: 5px 8px;
    right: -8px;
    bottom: -8px;
    float: right;
    position: relative;
}
.float_bottomRight_gray
{
    background-color: #f1f1f1;
    padding: 5px 8px;
    right: -8px;
    bottom: -8px;
    float: right;
    position: relative;
}
.float_bottomRight_darkGray
{
    background-color: #e7e3e7;
    padding: 5px 8px;
    right: -8px;
    bottom: -8px;
    float: right;
    position: relative;
}
.float_topRight
{
    background-color: #d0e4fd;
    padding: 5px 8px;
    float: right;
    position: relative;
    right: -8px;
    top: -8px;
}
.fontWeight_100
{
	font-weight: 100;
}
.imgBorder
{
	border: 1px solid #9e9e9e;
}
.linkType1:link, .linkType1:visited
{
    color: #628dc0;
	text-decoration: underline;
	font-weight: normal;
	text-align: left;
}
.linkType2:link, .linkType2:visited
{
    color: #2e3480;
	text-decoration: underline;
	font-weight: normal;
	text-align: left;
	
}
.linkType3:link, .linkType3:visited, .spanLink1
{
    color: #2d337f;
	text-decoration: underline;
	font-weight: normal;
	text-align: left;
}
.linkType4:link, .linkType4:visited
{
    color: #545454;
	text-decoration: none;
	font-weight: normal;
}
a.linkType4:hover, a.linkType5:hover
{
	text-decoration: underline;
}
.linkType5:link, .linkType5:visited
{
    color: #628dc0;
	text-decoration: none;
	font-weight: normal;
	text-align: left;
}
.linkType6:link, .linkType6:visited
{
    color: #545454;
	text-decoration: underline;
	font-weight: normal;
	text-align: left;
}
.linkType7:link, .linkType7:visited
{
    color: #2E3480;
	text-decoration: underline;
	font-weight: bold;
	text-align: left;
}
.linkType8:link, .linkType8:visited
{
    color: #545454;
	text-decoration: none;
	font-weight: normal;
	text-align: left;
}
.linkType9:link, .linkType9:visited
{
    color: darkred;
	text-decoration: underline;
	font-weight: normal;
	text-align: left;
}
.linkTypeBlock, .linkBlock:visited
{
	border: 1px solid #fff;
	text-decoration: none;
	text-align: center;
	display: block;
	color: #545454;
}
.LoginTextBox
{
    width: 225px;
    border: 1px solid #618fc3;
    margin-top: 5px;
}
a.linkTypeBlock:hover
{
	border: 1px solid #81ADDC;
}
.nowrap
{
	white-space: nowrap;
}
.ratingInactive
{
    width: 20px;
    height: 19px;
    background: transparent url('../images/icon_star_off.gif') no-repeat center center;
    float: left;
    cursor: pointer;
}
.ratingActive
{
    width: 20px;
    height: 19px;
    background: transparent url('../images/icon_star_over.gif') no-repeat center center;
    float: left;
    cursor: pointer;
}
.red, div#shareLink a:link, div#shareLink a:visited,
span#downloadCount
{
	color: #b3181c;
}
.gray
{
	color: #999999;
}
.redBold
{
	font-weight: bold;
	color: #b3181c;
}
.redHeader
{
    color:#B21617;
    font-weight:800;
    font-size:1.2em;
}
.left
{
    float: left;
}
.lightBlueBackground
{
	background-color: #f0f5fb;
}
.lightBlueBorder
{
	border: 1px solid #b2d4fa;
}
.lightBlueBorderBottom
{
	border-bottom: 1px solid #b2d4fa;
}
.lightBlueBorderBottomDashed
{
	border-bottom: 1px dashed #b2d4fa;
}
.lightBlueBorderTop
{
	border-top: 1px solid #b2d4fa;
}
.lightGrayBorder
{
	border: 1px solid #e3e3e3;
}
.lineHeight_1-5
{
	line-height: 1.5;
}
.lineHeight_1-75
{
	line-height: 1.75;
}
.lineHeight_2
{
	line-height: 2;
}
.margin_left_10
{
    margin-left: 10px;
}
.margin_top_10, div#pnlMostWanted, div#spotlight
{
    margin-top: 10px;
}
.noBorder
{
    border:0px;
}
.offscreen 
{
    position: absolute;
    left: -999em;
}
.padding_right_10
{
	padding-right: 10px;
}
.previewContainer 
{
	width: 400px;
	height: 400px;
	background-color: #fff;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}
.previewContainer3DXML 
{
	width: 400px;
	height: 432px;
	background-color: #fff;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}
.previewFrame3DXML
{
	border: 0px;
	height: 432px;
	width: 400px;
	background-color: #fff;
	overflow:hidden;
}
.previewFrame
{
	border: 0px;
	height: 375px;
	width: 400px;
	background-color: #fff;
	overflow:hidden;
}
.previewContainerED 
{
	width: 400px;
	height: 365px;
	background-color: #fff;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}
.previewFrameED
{
	border: 0px;
	height: 365px;
	width: 400px;
	background-color: #fff;
	overflow:hidden;
}
.previewContainer2D 
{
	width: 400px;
	height: 365px;
	background-color: #fff;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}
.previewFrame2D
{
	border: 0px;
	height: 365px;
	width: 400px;
	background-color: #fff;
	overflow:hidden;
}
.previewMacroSrc
{
	width: 400px;
	height: 375px;
	background-color: #fff;
	overflow: auto;
	display: table-cell;
	padding: 10px;
}
.previewhints td
{
	border-top: 1px solid #d9d9d9;
	background-color: #F0F5FB;
	padding:5px
}
.right
{
	float: right;
}
.searchBarLink, .searchBarLink:visited
{
    color: #2e3585;
	text-decoration:underline;
	font-weight: normal;
}
.searchBarLinkActive, a.searchBarLinkActive:hover
{
    color: #2e3585;
	text-decoration:none;
	font-weight:bold;
	cursor:default;	
}
.searchPopupLink:link, .searchPopupLink:visited, .searchPopupLink:active 
{
	display: block;
	font: 11px Arial;
	color: #0035ad;
	text-decoration: none;
	padding: 4px 2px;
}
a.searchPopupLink:hover
{
	background-color: #dedede;
}
.searchword
{
	font-weight: bold;
}
.secondaryTabs
{
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding: 0;
}
.SupplierAccountsPopup a:link, .SupplierAccountsPopup a:visited
{
    display: block;
    padding: 5px 2px;
}
.tblComment
{
	margin-bottom: 4px;
	margin-top: 8px;
	/* necessary to fix the table width in IE6 
	with nested PRE tags*/
	table-layout: fixed; 
}
.tblComment pre
{
	width: 500px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.tblInclude
{
	margin-top: 10px;
}
.textAlignCenter
{
	text-align: center;
}
.textAlignLeft
{
	text-align: left;
}
.text_darkBlue
{
	color: #2E3480;
	font-size: inherit;
	font-weight: inherit;
}
.text_red
{
	color: #AF1819;
	font-size: inherit;
	font-weight: inherit;
}
.thumbnailCategory
{
	border: 1px Solid #b2d4fa;
	padding: 8px;
	text-decoration: none;
	background-color: #fff;
}
.thumbnalCategory
{
	border: 1px Solid #b2d4fa;
	padding: 8px;
	text-decoration: none;
	background-color: #fff;
	height:110px;
	width:110px;
}
.thumbnailCategoryDiv
{
	text-align: center;
	margin-left: 10px;
	margin-top: 10px;
	padding: 1px;
	min-height: 100px;
	min-width: 100px;
	vertical-align: middle;
}
.title1
{
	font-weight: bold;
	color: #2e3480;
}
.title2
{
	font: 12px tahoma,arial,sans-serif;
	font-weight: 800;
}
.title_red, .title_red span
{
    text-align: left;
	font-size: 1.2em;
	color: #AF1819;
	margin: 0;
	font-weight: bold;
}
.titleCellUnderline
{
	border-bottom: 1px solid #81addc;
	text-align: left;
}
.shareControl
{
    width:70%;
    padding-left:5px;    
}
.shareLabel
{
   width:30%;
   text-align:right;
}
.userProfile, .userProfileSm, .userProfileMed
{
	border: 1px solid #9e9e9e;
}
.userProfile
{
    margin: 0px 10px 4px 0px;
    float: left;
    position: relative;
    /*width: 67px;*/
}
.userProfileSm
{
	width: 28px;
	height: 28px;
}
.userProfileMed
{
	width: 43px;
	height: 43px;
}
.vAlignTop
{
	vertical-align: top;
}
.vAlignMiddle
{
	vertical-align: middle;
}
.viewAllSect
{
	font-weight: 600;
	color: #777;
	background-color: #EAF1FB;
	display: block;
	padding: 2px;
}
#viewAllTbl td a:link, #viewAllTbl td a:visited
{
	color: #2E3585;
	text-decoration: underline;
	display: block;
	padding: 2px;
}
#viewAllTbl .supplierLink
{
	padding: 2px;
}
#viewAllTbl .supplierLink a:link,
#viewAllTbl .supplierLink a:visited
{
	color: #2E3585;
	text-decoration: underline;
	display: inline;
	padding: 2px;
}
.viewpointCtl
{
	background-color: #f7f7f7;
	padding: 5px;
	width: 150px;
	font-size: 11px;
	color: #87847B;
	letter-spacing: -1px;
}
.waterMarkedTxtBox
{
	background-color: #ffffff;
	border: 1px solid #a7acb2;
	color: #888;
	padding: 2px;
}

/* Search Box Rounded Corners */
div#searchcontainer .t {background: url('../images/light_blue_sect_dot.gif') 0 0 repeat-x} /* set width here to fix entire area */
div#searchcontainer .b {background: url('../images/light_blue_sect_dot.gif') 0 100% repeat-x}
div#searchcontainer .l {background: url('../images/light_blue_sect_dot.gif') 0 0 repeat-y}
div#searchcontainer .r {background: url('../images/light_blue_sect_dot.gif') 100% 0 repeat-y}
div#searchcontainer .bl {background: url('../images/light_blue_sect_bl.gif') 0 100% no-repeat}
div#searchcontainer .br {background: url('../images/light_blue_sect_br.gif') 100% 100% no-repeat}
div#searchcontainer .tl {background: url('../images/light_blue_sect_tl.gif') 0 0 no-repeat}
div#searchcontainer .tr {background: url('../images/light_blue_sect_tr.gif') 100% 0 no-repeat; padding:7px 12px;}

 /* Image Button Styles */
.inline-block 
{
    display: inline-block;
    position: relative
}
.inline-block-static 
{
    display: inline-block;
    position: static;
}

.search-button-outer-box 
{
    border: 1px solid #292e6d;
    vertical-align: top;
}

.search-button-outer-box 
{
    border-top-width: 1px;
    padding: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    margin: 0px;
    border-right-width: 0px
}

.custom-search-button 
{
    border: 0px;
    padding: 0px;
    font-weight: normal;
    background: url('../images/searchButtonBackground.gif') #ddd repeat-x left top;
    vertical-align: middle;
    cursor: pointer;
    color: #845100;
    list-style-type: none;
    text-decoration: none;
    outline: none
}

.searchbutton 
{
    margin: 2px 2px 2px 6px;
}

.search-button-inner-box
{
    border-left-color: #292e6d;
    border-bottom-color: #292e6d;
    vertical-align: top;
    border-top-style: solid;
    border-top-color: #292e6d;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #292e6d;
    border-bottom-style: solid
}

.search-button-inner-box 
{
    border-top-width: 0px;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: normal;
    font-size: 11px;
    color: #fff;
    border-left-width: 1px;
    border-bottom-width: 0px;
    margin: 0px -1px;
    border-right-width: 1px
}

/* Tabs Rounded Corners */
#primaryTabs {
  width:65%;
  line-height:1.6;
  }
#primaryTabs ul {
  margin:0px;
  margin-left: 15px;
  padding:0px;
  list-style:none;
  }
#primaryTabs li {
  float:left;
  background:url("../images/tab_left.gif") no-repeat left top;
  margin:0;
  margin-left:2px;
  padding:0px 0px 0px 3px;
  }
#primaryTabs a {
  display:block;
  background:url("../images/tab_right.gif") no-repeat right top;
  padding:5px 11px 4px 11px;
  text-decoration:none;
  font-weight:bold;
  color:#555;
  }
#primaryTabs a:hover {
  color:#000;
  }
#primaryTabs #current {
  background-image:url("../images/tab_left_on.gif");
  }
#primaryTabs #current a {
  background-image:url("../images/tab_right_on.gif");
  color:#fff;
  padding-bottom:4px;
  }
  
  /* Legacy: To Be Removed */
#userContributions
{
	width: 660px;
	overflow: hidden;
}
.links a:link, .links a:visited
{
	font: 11px Arial;
	display: block;
	border-bottom: 1px solid #EDEDED;
	text-decoration: none;
	padding: 3px;
	padding-left: 5px;
}
.links a:hover
{
	color: #bf0000;
	background-color: #fff;
}
.sect
{
	margin-top: 2px;
}
.sectTitle
{
	font: 600 12px Arial;
	color: #bf0000;
	vertical-align: middle;
	height: 24px;
	line-height: 22px;
	white-space:nowrap;
}
.sectionBody
{
	width: 100%;
}
.sectionBody .tl
{
	background: #f1f1f1 url('../images/sectionBody_tl.gif') no-repeat top left;
	width: 9px;
	height: 8px;
	font-size: .1em;
	padding: 0px;
	margin: 0;
}
.sectionBody .tm
{
	background-color: #f9f9f9;
	border-top: 1px Solid #ccc;
	height: 7px;
	font-size: 1px;
}
.sectionBody .tr
{
	background: #f1f1f1 url('../images/sectionBody_tr.gif') no-repeat top right;
	width: 9px;
	height: 8px;
	font-size: 1px;
	padding: 0px;
}
.sectionBody .bl
{
	background: #f1f1f1 url('../images/sectionBody_bl.gif') no-repeat top left;
	width: 9px;
	height: 8px;
	font-size: .1em;
}
.sectionBody .bm
{
	background-color: #f9f9f9;
	border-bottom: 1px Solid #ccc;
	height: 8px;
	font-size: 1px;
}
.sectionBody .br
{
	background: #f1f1f1 url('../images/sectionBody_br.gif') no-repeat top right;
	width: 9px;
	height: 8px;
	font-size: .1em;
}
.sectionBody .m
{
	font: 12px Arial, "sans serif";
	background-color: #f9f9f9;
	padding: 9px;
}
.sectionBody .ml
{
	width: 8px;
	background-color: #f9f9f9;
	border-left: 1px Solid #ccc;
	padding: 0;
}
.sectionBody .mr
{
	width: 8px;
	background-color: #f9f9f9;
	border-right: 1px Solid #ccc;
	padding: 0;
}
.sectionTitle
{
	width: 100%;
}
.sectionTitle span, .sectionHeader span
{
	font: 600 12px Arial;
	color: #bf0000;
	/*text-transform: uppercase;*/
	white-space: nowrap;
}
.sectionTitle .tl
{
	background: #f1f1f1 url('../images/sectionTitle_tl.gif') no-repeat top left;
	width: 8px;
	height: 22px;
	vertical-align: middle;
}
.sectionTitle .tm
{
	background: #f1f1f1 url('../images/sectionTitle_tm.gif') repeat-x 0px 0px;
	font: 9px Arial;
	height: 22px;
	vertical-align: middle;
}
.sectionTitle .tr
{
	background: #f1f1f1 url('../images/sectionTitle_tr.gif') no-repeat top right;
	width: 8px;
	height: 22px;
	vertical-align: middle;
}
.sectionHeader
{
	width: 100%;
}
.sectionHeader .sh_tl
{
	background: #f9f9f9 url('../images/sectionHeader_tl.gif') no-repeat top left;
	width: 3px;
	height: 3px;
	font-size: .1em;
	padding: 0px;
	margin: 0;
}
.sectionHeader .sh_tm
{
	background-color: #eaeaea;
	height: 3px;
	font-size: 1px;
}
.sectionHeader .sh_tr
{
	background: #f9f9f9 url('../images/sectionHeader_tr.gif') no-repeat top right;
	width: 3px;
	height: 3px;
	font-size: 1px;
	padding: 0px;
}
.sectionHeader .sh_bl
{
	background: #f9f9f9 url('../images/sectionHeader_bl.gif') no-repeat top left;
	width: 3px;
	height: 3px;
	font-size: .1em;
}
.sectionHeader .sh_bm
{
	background-color: #eaeaea;
	height: 3px;
	font-size: 1px;
}
.sectionHeader .sh_br
{
	background: #f9f9f9 url('../images/sectionHeader_br.gif') no-repeat top right;
	width: 3px;
	height: 3px;
	font-size: .1em;
}
.sectionHeader .sh_m
{
	font: 12px Arial, "sans serif";
	background-color: #eaeaea;
	padding: 2px;
	padding-left: 10px;
}
.sectionHeader .sh_ml
{
	width: 3px;
	background-color: #eaeaea;
	padding: 0;
}
.sectionHeader .sh_mr
{
	width: 3px;
	background-color: #eaeaea;
	padding: 0;
}
#viewAllTbl td a:hover
{
	text-decoration: underline;
}

  /* Dialogs */

/* for Internet Explorer */
/*\*/
* html .dialog1 .bd .s, * html .dialog2 .bd .s
{
height: 6em;
}
/**/

.tblDialog
{
	margin: 10px;
}
.dialog1
{
	margin: 0px auto;
}
.dialog1 .hd .c,
.dialog1 .ft .c 
{
	font-size: 1px; /* ensure minimum height */
	height: 10px;
}
.dialog1 .hd 
{
	background: transparent url('../images/tl.gif') no-repeat 0px 0px;
}
.dialog1 .hd .c 
{
	background: transparent url('../images/tr.gif') no-repeat right 0px;
}
.dialog1 .bd 
{
	background: transparent url('../images/ms.gif') repeat-x 0px 0px;
}
.dialog1 .bd .s
{
	margin: 0px 2px 0px 4px;
	padding: .1em .3em;
	vertical-align: top;
	min-height: 6em; 
	height: auto;
}
.dialog1 .ft
{
	background: transparent url('../images/bl.gif') no-repeat 0px 0px;
}
.dialog1 .ft .c
{
	background: transparent url('../images/br.gif') no-repeat right 0px;
}

/* Interactive Dialog */
.dialog2
{
	margin: 0px auto;
}
.dialog2 .hd .c,
.dialog2 .ft .c 
{
	font-size: 1px; /* ensure minimum height */
	height: 6px;
}
.dialog2 .hd 
{
	background: transparent url('../images/tl_2.gif') no-repeat 0px 0px;
}
.dialog2 .hd .c 
{
	background: transparent url('../images/tr_2.gif') no-repeat right 0px;
}
.dialog2 .bd 
{
	background: #fff url('../images/ml_2.gif') repeat-y 0px 0px;
}
.dialog .bd .c
{
	background: transparent url('../images/mr_2.gif') repeat-y right 0px;
}
.dialog2 .bd .s
{
	margin: 0px 2px 0px 4px;
	background-color: #fff;
	padding: .1em .6em;
	min-height: 6em; 
	height: auto;
}
.dialog2 .ft
{
	background: transparent url('../images/bl_2.gif') no-repeat 0px 0px;
}
.dialog2 .ft .c
{
	background: transparent url('../images/br_2.gif') no-repeat right 0px;
}
.cursorhand
{
	cursor: pointer;
}
.tdCenter
{
	text-align:center; 
	vertical-align:middle;		
}
.otherSearchLinks
{
	color: #2E3480;	
	display: block;
	font-size: 1.35em;
	font-weight: bold;	
	margin: 0pt;
	text-decoration: none;	
}
a.otherSearchLinks:link, a.otherSearchLinks:visited
{
	color: #2E3480;	
	text-decoration:underline;	
}
.pagerTitle
{
	padding-left: 10px;
}
.pagerMain
{
	line-height: 2;
	text-align:right;
}
.pagerMain span
{
	color: GrayText;
	font-weight: bold;
	margin: 4px;
}
.pagerMain a,
.pagerMain a:link
{
	color:#628DBD;	
	font-weight: bold;
	float:none;
	margin: 4px;
	text-decoration: none;
}
.pagerMain a:visited
{
	color:#628DBD;	
	font-weight: bold;
	float:none;
	margin: 4px;
	text-decoration: none;
}
.pagerMain a:hover
{
	color:#628DBD;	
	font-weight: bold;
	float:none;
	text-decoration: none;
}
.pagerMain .currentPage
{
	color: #B3181C;
	font-weight: bold;
	text-decoration: none;
}
div#divResultSummary
{
	margin-bottom: 13px;
}
div#divResultSummary span
{
	color: #2E3480;
	font: bold;
	font-size: 1.3em;
}
span#lblResultsPerPage
{
	font-weight: bold;
}
span#lblSortBy
{
	font-weight: bold;
}
select#ddPageSize
{
	font-weight: bold;
	margin-right: 20px;
}
select#ddSortBy
{
	font-weight: bold;
	margin-right: 20px;
}
/* output class definitions from XMetaL (for Documentation group) */

.tablehead_3dcc
{
	color: #AF1819;
}

.uicontrol, .notetitle, .menucascade, .tiptitle
{
	font-weight: bold;	
}

.filepath
{
	font-family: courier, monospace;
}

.userinput
{
	font-weight: bold;
	font-family: courier, monospace;
}

.dlterm
{
	font-weight: bold;
	margin: 10px auto auto auto;
}

.topictitle1, .sectiontitle_3dcc
{
	font: 11px tahoma,arial,sans-serif;
	font-weight: bold;
	position: relative; /*fixes IE6 float invisible bug*/
}

div#footerBody th
{
	color: #2E3480;	
}

img.suppLogo
{
/*display:none;*/
visibility:hidden;
}

/*styles for ucHeader control*/
div#pageHeader a:hover span 
{
	font-size: 1.0em;	
}
div#pageHeader a.info
{
    position:relative; /*this is the key*/
    z-index:24; 
    color:#000;
}
div#pageHeader a.info:hover
{
	z-index:25; 
}
div#pageHeader a.info span
{
	display: none
}
div#pageHeader .info:link,
div#pageHeader .info:visited
{
    color: #628dc0;
	text-decoration: underline;
	font-weight: normal;
	text-align: left;
}
div#pageHeader a.info:hover span
{  
    display:block;
    position:absolute;
    top:2em; left:2em; 
    border:1px solid black;
    background-color:#FFFFE1; color:black;
    text-decoration:none;
}
div#pageHeader a.searchType:link, a.searchType:visited
{
	font-weight: bold;
	color: #2D337F;
	text-decoration: none;
}
div#pageHeader a.searchActive:link, a.searchActive:visited
{
	font-weight: bold;
	color: #555;
	text-decoration: none;
}

table.ucFeatHdr
{
	width:100%;
	height:45px;
	background-color:#F0F5FB;
}

table.ucFeatHdr td
{
	vertical-align:middle;
	padding:5px 10px;
}

table.ucFeatHdr td.tdHdr
{
	text-align:center;
	background-color:#648CC0;
	width:28%;
}

table.ucFeatHdr td.tdMoreExp
{
	text-align:left;
	font-size:10px;
}
table.ucFeatHdr td.tdHdr span
{
	font-size:16px;
	color:White;
	font-weight:600;
}

table.ucFeatHdr td.tdRating
{
	text-align:right;
}

table.ucFeatHdr td.tdLink
{
	text-align:center;
	white-space:nowrap;
	width:10%;
}

table.ucFeatHdr td.tdImg
{
	width:20px;
	padding-left:0px;
}

div#noticebar {
    background: none repeat scroll 0 0 #C6DDF1;
    border-top: 1px solid #C6C6C6;
    font-weight: bold;
    margin-bottom: 10px;
}

div#noticebar .noticebar-content {
    border-top: 1px solid #C6DDF1;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
}

div#noticebar .hidebar {
    background: url("../images/close.png") no-repeat scroll left top transparent;
    cursor: pointer;
    height: 32px;
    left: -5px;
    overflow: hidden;
    padding: 12px;
    position: relative;
    text-indent: 100%;
    top: 4px;
    white-space: nowrap;
    width: 32px;
    text-decoration: none;
}