/*
Copyright (c) 2006, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
Version 0.11.4
*/

.overlay {
	position:absolute;
	display:block;
}

.tt {
	visibility:hidden;
	position:absolute;
	color:#333;
	background-color:#FDFFB4;
	font-family:arial,helvetica,verdana,sans-serif;
	padding:2px;
	border:1px solid #FCC90D;
	font:100% sans-serif;
	width:auto;
}

* html body.masked select {
	visibility:hidden;
}

* html div.panel-container select {
	visibility:inherit;
}

* html div.drag select {
	visibility:hidden;
}

* html div.hide-select select {
	visibility:hidden;
}

.mask {
	z-index:0;   
	display:none;
	position:absolute;
	top:0;
	left:0;
	-moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=50);
	background-color:#CCC;
}

.hide-scrollbars * {
	overflow:hidden;
}

.hide-scrollbars textarea, .hide-scrollbars select {
	overflow:hidden;
	display:none;
}

.show-scrollbars textarea, .show-scrollbars select {
	overflow:visible;
}

.panel-container {
	position:absolute;
	background-color:transparent;
	z-index:6;
	visibility:hidden;
	overflow:visible;
	width:auto;
}

.panel-container.matte {
	padding:3px;
	background-color:#FFF;
}

.panel-container.matte .underlay {
	display:none;
}

.panel-container.shadow {
	padding:0px;
	background-color:transparent;
}

.panel-container.shadow .underlay {
	visibility:inherit;
	position:absolute;
	background-color:#CCC;
	top:3px;left:3px;
	z-index:0;
	width:100%;
	height:100%;
	-moz-opacity: 0.7;
	opacity:.70;
	filter:alpha(opacity=70);
	zoom:1;
}

.panel {
	visibility:hidden;
	border-collapse:separate;
	position:relative;
	left:0px;top:0px;
	font:1em Arial;
	background-color:#f9f9f9;
	/*border:1px solid #000;*/
	border:3px solid #7399C7;
	z-index:1;
	overflow:hidden;
}

.panel .hd {
	/*background: #3d77cb url('../images/RFQ-titlebar-background.jpg') repeat-x top left; */
	background-color: #EAF1FB;
	color:#2D337F;
	font-size:110%;
	line-height:110%;
	/*border:1px solid #FFF;
	border-bottom:1px solid #000;*/
	font-weight:bold;
	overflow:hidden;
	padding:4px;
	text-align:left;
}

.panel .bd {
	overflow:hidden;
	padding:4px;
}

.panel .bd p {
	margin:0 0 1em;
}

.panel .close {
	position:absolute;
	top:2px;
	right:4px;
	z-index:6;
	height:18px;
	width:17px;
	margin:0px;
	padding:0px;
	background-repeat:no-repeat;
	cursor:pointer;
	visibility:inherit;
}

.panel .close.nonsecure {
	background-image:url('../images/container/close12_1.gif');
}

.panel .close.secure {
	background-image:url('../images/container/close12_1.gif');
}

.panel .ft {
	padding:4px;
	overflow:hidden;
}

.simple-dialog .bd .icon {
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	margin-right:10px;
	float:left;
}

.dialog .ft, .simple-dialog .ft {
	padding-bottom:5px;
	padding-right:5px;
	text-align:right;
}

.dialog form, .simple-dialog form {
	margin:0;
}

.button-group button {
	font:100 76% Arial;
	text-decoration:none;
	background-color: #E4E4E4;
	color: #333;
	cursor: hand;
	vertical-align: middle;
	border: 2px solid #797979;
	border-top-color:#FFF;
	border-left-color:#FFF;
	margin:2px;
	padding:2px;
}

.button-group button.default {
	font-weight:bold;
}

.button-group button:hover, .button-group button.hover { 
	border:2px solid #90A029;
	background-color:#EBF09E;
	border-top-color:#FFF;
	border-left-color:#FFF;
}

.button-group button:active { 
	border:2px solid #E4E4E4;
	background-color:#BBB;
	border-top-color:#333;
	border-left-color:#333;
}
.Grid_ItemStyle
{
background-color:White;
border-bottom-color:#F1F1F1;
border-bottom-width:2px;
font-family:Arial;
font-size:11px;
margin-bottom:2;
color:Black;
text-align:left;
height:25px;
}
.Grid_AlternateItemStyle
{
background-color:White;
border:1px;
font-family:Arial;
font-size:11px;
margin-bottom:2;
color:Black;
text-align:left;
height:25px;
}
.Grid_HeaderStyle
{
background-color:#F1F1F1;
border:0;
font-family:Arial;
font-size:11px;
font-weight:bold ;
margin-bottom:2;
color:#608FC3;
text-align:left;
height:25px;
}


a.LBlue:link {color: #555555} 
	

.Grid_FooterStyle
{
background-color:Maroon;
border:0;
font-family:Arial;
font-size:small;
margin-bottom:2;
color:Black;
text-align:center;
}
.Grid_PagerStyle
{
background-color:#F1F1F1;
border:0;
font-family:Arial;
font-size:small;
font-weight:bold;
margin-bottom:2;
color:Black;
text-align:center;
}

.TDStyleLeft
{
	text-align:left;
}

.TDStyleRight
{
	text-align:right;
}

.TDStyleCenter
{
	text-align:center;
}

.TRStyle
{
	background-color:#F0F5FB;
	height:25px;
}

ul#tab_nav li 
{
float:left;
height: 21px;
color:Black;
background-color:#F1F1F1;
margin: 2px 2px 0 2px;
border-top: 1px solid #E3E3E3;
border-left: 1px solid #E3E3E3;
border-right: 1px solid #E3E3E3;
padding:10px 15px 0 15px;
font-weight:bold;

}

ul#tab_nav_sel li 
{
float:left;
height: 21px;
color:#303380;
background-color:#D0E4FC;
margin: 2px 2px 0 2px;
border-top: 1px solid #B2D4FA;
border-left: 1px solid #B2D4FA;
border-right: 1px solid #B2D4FA;
padding:10px 15px 0 15px;
font-weight:bold;

}

.Seperator_Blue
{
	background-color:#B4D4FB;
	height:2px;
}	

.Req_SpotLight
{
	float:right;
	clear:left;
	width:20%;
	text-align:left;
	background-color:#F1F1F1;
	padding:5px 10px 5px 10px;	
	border:solid 1px #E3E3E3;	
}
.Req_SpotLight h3
{	
	font-size: 1.1em;
	color: #555;
	margin: 0;
}

#tab_nav a {
  display:block; 
  text-decoration:none;
  font-weight:bold;
  color:#555;
  }
#tab_nav a:hover {
  color:#000;
  }
  
  #tab_nav #current {
 background-color :#00FF00;
  }
  
.Try_Alternatives
{
	float:left;
	text-align:left;
	background-color:#F1F1F1;
	padding:5px 10px 5px 10px;	
	border:solid 1px #E3E3E3;	
}

.InActiveLink
{
	color:#2D3482;
	text-decoration:none;
	cursor:text;	
}

.ActiveLink
{
	color:#656766;	
}
#ContainerTabel
{
	width:100%;
	height:100%;
}

.PAGE_HEADER /* Use this class for table background */
    {
	    vertical-align: baseline;
		border-right: 0px solid;
		padding-right: 0px;
		border-top: 0px solid;
		padding-left: 0px;
		padding-bottom: 0px;
		border-left: 0px solid;
		width: 100%;
		padding-top: 0px;
		border-bottom: 0px solid;
		background-color: white;
		height: 100%;
    }
    .BottomFooter
    {
	    vertical-align: baseline;
	    height: 2px;
    }
    
.ControlStyle
{
    font-family: Tahoma;
    font-size:11px;
}