﻿a:link, a:visited, a:hover
        {
            color: #2E3480;
        }
        .bigFeedIcon
        {
            color: #2E3480;
            display:inline; 
            font-size:15px; 
        }
        h1
        {
            padding-bottom: 5px;
        }
        h1.FeedSubscr span
        {
            color: black;
            font-size:20px;
            font-weight:600;
        }
        h2.FeedSubscr span
        {
            color: black;
            font-size:15px;
            font-weight:600;
            
        }
        h2.FeedSubscr
        {
			margin:5px 0px 10px 0px;
		}
        h3.FeedSubscr span
        {
            color: black;
            font-size:12px;
            font-weight:600;
        }
        h3.FeedSubscr
        {
			margin:10px 0px 5px 0px;
		}
		p.FeedSubscr
		{
			margin:5px 0px 10px 0px;
		}
        #ccLinkLine
        {
            text-align:right;
        }
        div.FeedSubscr
        {
            border: solid 1px #b2d4fa;
            text-align:left;  
            padding:10px 10px; 
            color: black;
            font-weight:400;
            font-size:12px; 
        }
        .FeedSubscr span
        {
            font-size:12px;
            color: black;
            font-weight:400;
        }
        .leftTableColumn
        {
            text-align:right; 
            padding-left:5px;
            padding-top:5px; 
            padding-right:0px; 
            padding-bottom:5px;
        }
        .rightTableColumn
        {
            text-align:left;
            padding-left:5px;
            padding-top:5px;
            padding-right:5px;
            padding-bottom:5px;
        }
        .feedOptions
        {
			padding:0px 0px;
		}
		.feedOptions a
        {
        	color:Black;
			text-decoration:underline;
			font-size:11px;
		}
		.feedSubscTempl
		{
			padding-top:15px;
			padding-bottom:10px;
		}
		.imgSubscTempl img
		{
			width:100px;
			height:100px;
		}
		.contName
		{
			font-size:15px;
			font-weight:600;
			color: #2E3480;
			text-decoration:none;
		}
		.leftTableColumn
		{
			color:Black;
			font-size:11px;
			font-weight:600;
		}
		.rightTableColumn
		{
			color:Black;
			font-size:11px;
		}
		.imgSubscTempl
		{
			border: 1px solid black;
		}
		.smallFeedIconNoUnderLine a
		{
			color:#8ca7d7;
			margin-bottom:5px;
			text-decoration:none;
		}
		.smallFeedIconNoUnderLine a:hover
		{
			color:#8ca7d7;
			margin-bottom:5px;
			text-decoration:none;
			border-bottom:solid 1px #8ca7d7;
		}
		
		.smallFeedIconFloatRight a
		{
			color:#8ca7d7;
            margin-bottom:5px;
		}
		div.smallFeedIconFloatRight2
		{
			color:#8ca7d7;
            margin-bottom:5px;
			float:right;
		}
		.smallFeedIcon a
        {
            color:#8ca7d7;
            margin-bottom:5px;
        }
        a.h4Link
        {
        	color:#3165c6; 
        	text-decoration:none;
        }
        a:hover.h4Link
        {
        	color:#3165c6; 
        	text-decoration:none;
        	border-bottom:solid 1px #3165c6;
        }
        div.rssItem
        {
        	margin:20px 0px;
        }
        .rssItemLink a
        {
        	color:#3165c6; 
        	text-decoration:none;
        	font-weight:600;
        }
        div.rssItemSeparator
        {
        	border-top:solid 1px #3165c6;
        	height:0px;
        	margin:5px 0px;
        }
        div.rssItemPubDate
        {
        	color:#707070;
        	font-size:11px;
        }
        div.rssItemDescrp
        {
        	margin-top:10px;
        	font-size:13px;
        }
        div.rssRightPnl
        {
        	border:solid 1px #707070;
        	padding:5px;
        }
        rightBoldLbl td
        {
        	font-weight:800;
        	font-size:12px;
        }
        rightbl td
        {
        	font-size:12px;
        }
        td.paddTop
        {
        	padding-top:5px;
        }
        .paddTop a
        {
        	text-decoration:none;
        	color:Black;
        	font-weight:400;
        }
        .blackLinkSortControl a
        {
        	color:black;
        	text-decoration:none;
        }
        div.blackLink
        {
        	color:black;
        	height:0px;
        	width:70%;
        	border-bottom:solid 1px black;
        	margin-top:17px;
        }
        .feedOptionLinks
        {
        	color:Black;
        }