/* 
  The CSS for the tabs comes from the Yahoo! design patterns
  See http://developer.yahoo.com/ypatterns/examples/tabs.html for more details
 */
.tabset {margin-bottom: 0px;}
.tabset h3, .tabset h4 {position:absolute;left:-1000em;margin:0;}
.tabset .hd li em {font-weight:bold;}
.tabset .hd li a {color:#999;}
.tabset .hd li a:hover {text-decoration:none;}

.tabset .hd li a 
{
	background-color: #F1F1F1;
	border: 1px solid #E4E2E1;
	border-bottom: 0px;
	vertical-align: middle;
	color: #555;
	text-decoration: none;
}
/* selected tab */
.tabset .hd li.on a
{
	background-color: #d0e4fd;
	border: 1px solid #B2D5F9;
	border-bottom: 0px;
	vertical-align: middle;
	color: #2D337F;
	text-decoration: none;
}
        
.tabset {width:100%;} /* IE: width */
.tabset a {text-decoration:none;}
.tabset ul, .tabset li {margin:0;padding:0;list-style:none;}
.tabset li {float:left;display:inline;cursor:pointer;}
.tabset li.on {cursor:default;}
.tabset li.disabled {cursor:default;color:#cccccc;}
.tabset li.disabled em {color:#aaa;}
.tabset li a:hover {text-decoration:underline;}
.tabset ul:after {clear:both;content:'.';display:block;height:0;visibility:hidden;} /* clear non-IE */
.tabset ul {zoom:1;} /* clear IE */

.tabset .hd ul {font:bold 11px tahoma,Arial,sans-serif;margin-bottom:0px;padding-left:.3em;position:relative;} /* IE quirks mode: relative */
.tabset .hd li {margin-right:.33em;padding:0;}
.tabset .hd li.on strong a {cursor:default;}
.tabset .hd li a, .tabset .hd li strong, .tabset .hd li em {display:block;}
.tabset .hd li a, .tabset .hd li strong {*display:inline-block;}  /* IE: 100% clickable */
.tabset .hd li em {font-style:normal;padding:.7em 1.1em;}
.tabset .hd li.orphan, .tabset .hd li.orphan a, .tabset .hd li.orphan em {background:transparent none;border-width:0;margin:0;}

.yui-ext-tabbody {border:1px solid #81ADDC;}
.yui-ext-tabitembody {display:none; padding:0px;}